*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;


}
body
{
	font-size: 14px;
	background-color:grey;
}

.container{
	background: white;
	width: 500px;
padding: 25px;
margin: 50px auto;
}
